html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.input {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

.form-row input {
    border: 1px solid rgb(70, 69, 69);
    border-radius: 3px;

    width: 175px;

    padding: 5px;
}

.form-row input:focus {
    border: 1px solid rgb(46, 32, 230);
    outline: none;
    box-shadow: 2px 2px 5px rgba(173, 172, 172, 0.5);
}

.form-row input:invalid {
    border: 2px solid red;
}

.bottom {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.main-container {
    display: flex;
    height: 100%;
}

.top,.bottom {
    background-color: #F9FAFB;
    padding: 50px;
}

.description {
    padding: 10px;
}

form {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column; 
    margin-bottom: 50px;
}

.bottom button {
    font: 16px;
    font-weight: bold;

    background-color: #F8AD69;
    color: #000000;

    padding: 10px 40px;
    max-width: 40%;

    border: none;
    border-radius: 3px;
}

.bottom button:hover {
    background-color: #d69150;
}

.bottom button:active {
    background-color: #d8771c;
}

.log-in {
    display: flex;

    margin-top: 20px;
}

.log-in > a {
    color: #d8771c;
}

/* img {
    display: block;
    max-width: 525px;
    height: auto;
    width: auto;
} */

.left {
    background-image: url("basketball-stephen-baker.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.pic-logo {
    display: flex;
    background: rgba(249,250,251, .3);
    justify-content: center;
    width: 400px;
    font-size: 24px;
    margin-top: 75%;
}
